
{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %}  

Specific Page CSS goes HERE  -->
{% block stylesheets %}
<!-- <link rel="stylesheet" href="/static/assets/css/dashboard.css"> -->

{% endblock stylesheets %}

{% block content %}
{% load static %} 

</br></br></br>
<div class="col-md-12">
    
    <div class="content">

        <div class="page-inner">
            
            <div class="">
                <div class="card">
                    <div class="card-body">
                        <div class="card">
                        <form action="/filterdata/" method="POST" enctype="multipart/form-data" class="form-horizontal"> 
                            {% csrf_token %}
                            <label for="starttime" style="margin-left: 10px;">Start Date Time :</label>

                            <input type="datetime-local" id="starttime"
                                name="starttime"> 
                                <label for="endtime" style="margin-left: 10px;">   End Date Time :</label>

                                <input type="datetime-local" id="endtime"
                                    name="endtime">
                                   
                                    <button class="btn btn-primary btn-sm" style="margin-left: 20px;">Submit</button>
                                    <a href="/charts/" style="float:right; margin-right: 10px;">View charts</a>
                        </form>
                    </br>
                    </div>
                        <div class="table-responsive">
                            <table id="multi-filter-select" class="display table table-striped table-hover" >
                                <thead>
                                <tr style="border: 3px solid white;
                                border-collapse: collapse;">
                                    {% for col in dataframe.columns %}
                                    <th>
                                        {{col}}      </th>
                                    {% endfor %}
                                </tr>
                                </thead>
                          
                                <tbody>
                                    {% for index, row in dataframe.iterrows %}
                                    <tr style="border: 5px solid white;
                                    border-collapse: collapse;">
                                    {% for cell in row %}
                                    {% if cell == True %}
                                        <td bgcolor="tomato" style="color:tomato; border: 1px solid white;
                                        border-collapse: collapse;">
                                            {{cell}}
                                        </td>
                                    {% elif cell == False %}
                                        <td bgcolor="mediumseagreen" style="color:mediumseagreen; border: 1px solid white;
                                        border-collapse: collapse;">
                                            {{cell}}
                                        </td>
                                    {% else %}
                                        <td>
                                            {{cell}}
                                            </td>
                                    {% endif %}
                                    {% endfor %}
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>

                        </div>
                    </br>
                    <a href="/download/" class="btn btn-primary">Download</a>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>



{% endblock content %}
{% block javascripts %}
<script>
$(document).ready(function(){

autoselectDates();

}); 

function autoselectDates() {
    var data = JSON.parse("{{data|escapejs}}");
    for(var x in data){
        if(x == "starttime"){
            $("#starttime").val(data[x])
        }
        if(x == "endtime"){
            $("#endtime").val(data[x])
        }


    }
  
  }
</script>
{% endblock javascripts %}	