
{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %}  

Specific Page CSS goes HERE  -->
{% block stylesheets %}
<!-- <link rel="stylesheet" href="/static/assets/css/dashboard.css"> -->

{% endblock stylesheets %}

{% block content %}
{% load static %} 

</br></br>
<body>
<form action="/create_csv/" method="POST" enctype="multipart/form-data" class="form-horizontal"> 
{% csrf_token %}
</br>
</br>
<div class="content">

    <div class="page-inner">
       
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                   
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6 col-lg-4">
                                <div class="form-group">
                                    Data File:
                                    <!-- <label for="exampleFormControlFile1" class="col-md-3 col-sm-3 col-xs-12 control-label">Input file</label> -->
                                    <input type="file" class="form-control-file" name="csv_file" id="csv_file">
                                </div>

                                <div class="form-group">
                                   Mapping File: 
                                    <input type="file" class="form-control-file" name="Mapping_file" id="Mapping_file">
                                </div>

                                <div class="form-group">
                                    <label for="filetype">File Type:</label>
                                    <select class="form-control" name="filetype" id="filetype">
                                        <option>CP1</option>
                                        <option>CP2</option>
                                    </select>
                                </div>

                                <div class="form-group">                    
                                    <div class="col-xs-12 col-md-offset-3" style="margin-bottom:10px;">
                                         <button class="btn btn-primary"> <span class="glyphicon glyphicon-upload" style="margin-right:5px;"></span>Upload </button>
                                    </div> 
                                </div>
                            </div>    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</form>



    <div class="col-md-12">
    
        <div class="content">

            <div class="page-inner">
                
                <div class="row">
                    <div class="card">
                        
                            <div class="table-responsive">
                                <table id="multi-filter-select" class="display table table-striped table-hover" >
                                    <thead>
                                    <tr>
                                        {% for col in dataframe.columns %}
                                        <th>
                                            {{col}}      </th>
                                        {% endfor %}
                                    </tr>
                                    </thead>
                                    <!-- <tfoot>
                                        <tr>
                                        {% for col in dataframe.columns %}
                                        <th>
                                            {{col}}      </th>
                                        {% endfor %}
                                    </tr>
                                    </tfoot> -->
                                    <tbody>
                                        {% for index, row in dataframe.iterrows %}
                                        <tr>
                                        {% for cell in row %}
                                        {% if cell == True %}
                                            <td bgcolor="red" style="color:red">
                                                {{cell}}
                                            </td>
                                        {% elif cell == False %}
                                            <td bgcolor="green" style="color:green">
                                                {{cell}}
                                            </td>
                                        {% else %}
                                            <td>
                                                {{cell}}
                                                </td>
                                        {% endif %}
                                        {% endfor %}
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>

                            </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <div class="card-title">Multiple Line Chart</div>
            </div>
            <div class="card-body">
                <div class="chart-container">
                    <canvas id="multipleLineChart"></canvas>
                </div>
            </div>
        </div>
    </div> -->

<form action="/create_csv/" method="GET" class="form-horizontal"> 
    {% csrf_token %}
    <div class="form-group" id ="downloadcsvdiv">                    
        <div class="col-md-3 col-sm-3 col-xs-12 col-md-offset-3" style="margin-bottom:10px;">
             <button class="btn btn-primary"> <span class="glyphicon glyphicon-upload" style="margin-right:5px;"></span>Download</button>
        </div> 
    </div>
</form>
<!-- <table>
    <tr>
      {% for col in dataframe.columns %}
        <td>
          {{col}}      </td>
      {% endfor %}
    </tr>
      {% for index, row in dataframe.iterrows %}
        <tr>
          {% for cell in row %}
            <td>
              {{cell}}
            </td>
          {% endfor %}
        </tr>
      {% endfor %}
  </table> -->



<!-- <div class="card-action">
    <button class="btn btn-success">Submit</button>
    <button class="btn btn-danger">Cancel</button>
</div> -->
{% endblock content %}
<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
$(document).ready(function(){

downloadbutton();

}); 

function downloadbutton() {
   if($("#multi-filter-select")[0].outerText != '')
        $("#downloadcsvdiv").css("display", "block")
   else
        $("#downloadcsvdiv").css("display", "none")
  }
</script>
{% endblock javascripts %}	


</body>

